*{
  margin:0;
  padding:0;
}
body{
  background:rgb(44,44,44);
}
p, span, div, h1, h2, h3, h4, h5, h6, ul, li{
  color:white;
}
li{
  list-style:none;
}
a{
  color:cyan;
  text-decoration:none;
}
a:visited{
  color:magenta;
}

h1, h2{
  text-align:center;
  padding:0.5rem 0;
}

.no-poster-found{
  background:black;
  width:300px;
  height:444px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}