.pagination-controls{
    background:black;
    text-align:center;
    padding:1rem 0;
    margin:1rem 0;
}
.all-pages{
    margin-top:0.75rem;
}
.all-pages span:not(:last-child)::after{
    content:" - ";
}
.page-indicator{
    font-weight:bold;
}