form{
    align-items:center;
    display:flex;
    justify-content:center;
}
input[type="text"]{
    margin:0.5rem;
    padding:0.5rem;
    box-shadow:none;
    border:none;
    font-weight:bold;
}
button[type="submit"]{
    background:white;
    box-shadow:none;
    border:none;
    padding:0.5rem 1rem;
    margin:0.5rem;
    border-radius:10px;
}